.editor {
  position: relative;
  width: 100%;
  height: 200px;
}
.sqleditor {
  position: relative;
  width: 100%;
  height: 150px;
}

html, body {
  height: 100%;
}
.wrap {
  padding-top: 60px;
  height: 100vh;
  display: flex;
  flex: 1;
}
aside, article {
  overflow-y: scroll;
  padding: 2em;
}
aside {
  flex: 1;
}
article {
  flex: 2;
}
@media (max-width: 767px) {
  .wrap {
    flex-direction: column;
  }
  /* Hiding these on mobile for now */
  aside, .btn, .editor {
    display:none;
  }
}
h3, .h3 {
    margin-top: 0;
    color: #ffffff;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}